<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Image Upload</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <div class="upload">
        <h1>Image Upload to MongoDB</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name"
                    value="" name="name" required autocomplete="false" spellcheck="false">
            </div>
            <div>
                <label for="desc">Image Description</label>
                <textarea rows="3" id="desc" name="desc" value=""
                        placeholder="Description" required spellcheck="false">
                </textarea>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image"
                    name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    
    <hr>

    <div class="images">
        <h1>Images in the Database</h1>
        <% items.forEach(image => { %>
        <div class="image">
            <form action="/delete" method="POST">
                <img src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>" />
                <h2><%= image.name %></h2>
                <input type="text" style="display: none" name="title" value="<%=image.name%>">
                <p><%= image.description %></p>
                <button type="submit">Delete</button>
            </form>
        </div>
        <% }) %>
    </div>

<script src="main.js"></script>
</body>
</html>